<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MicroLiteOnXMVM" connectionString="Data Source=MicroLiteOnXMVM;Server=192.168.56.102;Port=1433;Initial Catalog=MicroLite;Persist Security Info=False;Integrated Security=False;UserID=wispay;Password=wispay" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>